.Home{
        display: flex;
        position: center;
        align-items: center;
        justify-content: center;
        margin: auto;
        background-image: url("/public/images/wall2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-color:blue ;
        height: 120vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: inset 0 0 0 0 1000px rgba(0,0,0,0.2);
        object-fit: contains;
        margin: 0;
        border: 0;
        padding:0;
    }

    .bg{
        display: flex;
        position: center;
        align-items: center;
        justify-content: center;
        margin: auto;
        background-image: url("/public/images/wall2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-color:blue ;
        height: 120vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: inset 0 0 0 0 1000px rgba(0,0,0,0.2);
        object-fit: contains;
        margin: 0;
        border: 0;
        padding:0;
    }




img{
    height:auto;
    z-index: 5;
    max-width:80%;
    width:60%;
    position: center;
    margin-top: 150px;
    margin-bottom: 0px;
    
    
}

@media all and (min-width: 800px){
    img{
        height:auto;
        z-index: 1;
        max-width: 60%;
        width:60%;
        position: center;
        
        margin-top: 0;
        margin-bottom:10px;
        
    
    }
} 
        

    

    .home-container{
        display: cover;
        position: relative;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
        
    }

    p{
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 12px;
        position: absolute;
        z-index:1;
        inset: 400px 50px;
        

    }

    @media all and (min-width: 800px){
        p{
            color: white;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 24px;
            margin-top: 0px;
            inset: 500px 50px;
        }
    }